body{
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: #ffffff;
    color: rgb(209, 209, 209);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* TAILLE DU LECTEUR */
.audio_player{
    width: 280px;
   border: 2px solid rgba(93, 100, 107, 0.096);
   border-radius: 20px;
}

/* Gérer couleur background */
.player {
    /* background-image: linear-gradient(-3deg, rgb(8, 0, 232) -139%, rgba(139, 58, 58, 0.897)); */
    padding: 15px;
    border-radius: 20px;
    border: 8px #eaeaf7 solid;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    color: white;
    border-top-color: #89019478;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: #a7399159;
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color: rgb(213, 171, 236);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: #ffc6c5;
    border-left-style: solid;
    border-left-width: 2px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;


}

.audio-title {
    color: #050194;
    font-weight: 600;
    font-size: 23px;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 0px 1px 0px #00000017;
}

/* Visualiseur. Gérer le width et le height. Apres avoir regler la taille du lecteur. C'est a dire .audio_player */

#canvas{
    display: grid;
    position: fixed;
    margin-left: -14px;
    width: 14.5em;
    height: 6.5em;
    z-index: -1;
    border-radius: 20px;

}

#audioStop {
    display: none;
}

.player-middle-row{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

}

.player-middle-left span{
    color: #2629cf;
    font-size: 20px;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    border: 0.1px solid rgba(250, 250, 250, 0.459);
    box-shadow: 0 0 8px 4px #00000f11;
    transition: all 0.3s ease-out;
    pointer-events: none;
    opacity: 0.3;
    background-color: white;;
}

.player-middle-left span.active{
    pointer-events: auto ;    
    opacity: 1;
}

.player-middle-right span{
font-size: 22px;
color: #908e8e;
display: block;
text-align: left;
font-weight: 700;
}

/* Le display none pour Toggle le lecteur */
.audioPlaylistWrap{
   display: none;
}
.audioPlaylistWrap{

    background: linear-gradient(top bottom, #025656,#002d2d);
    animation-delay: 9s;
}

.audio-list{
    margin-bottom: 2px;
    position: relative;
}

a[data-active="active"] + .audio-list-in, a[data-active="pause"] + .audio-list-in {
    
    color: rgb(255, 255, 255);
}

.far.fa-plus-square{
   cursor: pointer;
   float: right;
}

.fa-regular, .far {
    font-weight: 100;
    color: #8901942e;
}


/* Reglages 1
.audio-list-in{
    background: #1f1b1b;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    position: relative;
    transition: all 0.4s ease-out;
} */

.audio-list-in{
    background: #f8f8f8;
    color: hsl(241.9, 26%, 51.8%);
    font-size: 17px;
    font-weight: bold;
    padding: 20px 15px;
    /*! position: relative; */
    transition: all 0.4s ease-out;
}


.aTrigger{
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    color: rgb(209, 202, 205);
    box-shadow: 34px ;
    z-index: 1;
    width:  100%;
    height: 100%;

}

.aTrigger i{

    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -6px;
    font-size: 12px;
}
/* Couleur radio dans la liste */
a[data-active="active"] + .audio-list-in,
a[data-active="pause"] + .audio-list-in{
    background: #050194;
}


#audio-stop{
    display:none;
}

#volume_show{
    display: none;
}